@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.background {
  width: 100vw;
  background: linear-gradient(180deg, #041a2fa6, #031324);

  border-radius: $radius-md;
  box-shadow: $shadow-soft;

  .services {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 40px 16px;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }

    @include desktop {
      max-width: 1280px;
      margin: 20px auto 40px;
    }
  }
}
