@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  color: $text-main;

  img {
    width: 100px;
    height: 100px;
  }

  .icon {
    font-size: 34px;
  }

  .title {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@include tablet {
  .card {
    img {
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: 1.2rem;
    }
  }
}

@include desktop {
  .card {
    .title {
      font-size: 1.5rem;
    }
  }
}
