$mobile: 767px;
$tablet: 768px;
$desktop: 1280px;
$wide: 1440px;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $wide) {
    @content;
  }
}
