$primary: #ff7a00;
$secondary: #0b5ed7;
$dark: #061c36;
$text-light: #ffffff;
$bg: #041a2f;

$font-main: 'Inter', sans-serif;

$blue-dark: #061c36;
$blue-main: #0b3a6f;
$blue-light: #0f4c8a;

$accent: #ff7a00;
$accent-hover: #ff8f26;

$text-main: #ffffff;
$text-muted: #c7d4e4;

$card-bg: #041a2f;

$radius-sm: 6px;
$radius-md: 10px;

$shadow-soft: 0 10px 30px rgba(117, 115, 115, 0.747);
