@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.header {
  background: linear-gradient(180deg, #0a2b52, $blue-dark);
  color: $text-main;
  border: 2px solid rgba(128, 128, 128, 0.644);
  box-shadow: $shadow-soft;
  width: 100vw;

  .container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;

    .inner {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      text-transform: uppercase;
    }

    .logo {
      display: flex;
      align-items: center;
      font-weight: 800;
      letter-spacing: 0.5px;

      p {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      span {
        color: $secondary;
      }

      img {
        width: 40px;
        height: 45px;
      }

      @include desktop {
        p {
          flex-direction: row;
        }

        span {
          margin-left: 4px;
        }
      }
    }

    .desktopNav {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1;

        ul {
          display: flex;
          gap: 1rem;
          margin: 0;
          padding: 0;
          list-style: none;

          li a {
            text-decoration: none;
            color: $text-main;
            font-weight: 600;
            font-size: 1rem;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: $accent-hover;
            }
          }
        }

        .actions {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          flex-shrink: 0;

          @include desktop {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
          }

          .contacts {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-shrink: 0;

            svg {
              fill: white;
              border-radius: 50%;
              background-color: $blue-light;
              padding: 8px;
              width: 40px;
              height: 40px;
            }

            .phone {
              font-size: 0.9rem;
              text-align: right;

              strong {
                display: block;
                font-size: 1.2rem;
              }
            }
          }

          button {
            background: $accent;
            color: $text-light;
            border-radius: $radius-sm;
            padding: 0.5rem 1rem;
            font-weight: 700;
            font-size: 1rem;
            transition: background 0.3s ease-in-out;
            width: 100%;

            &:hover {
              background: $accent-hover;
            }

            @include desktop {
              padding: 0.8rem 1.6rem;
            }
          }
        }
      }
    }

    .mobileMenu {
      display: block;

      @include tablet {
        display: none;
      }
    }
  }
}

.logo {
  width: 150px;
  @include desktop {
    width: auto;
  }
}
