@use '../../styles/breakpoints' as *;

.containerHome {
  width: 100vw;

  background: linear-gradient(
      90deg,
      rgba(6, 28, 54, 0.95),
      rgba(6, 28, 54, 0.53)
    ),
    url('../../assets/images/background.jpg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
  }

  @include desktop {
    min-height: 100vh;
    background-position: center right;
  }
}
