@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 0;
}

.nav a {
  display: block;
  padding: 0.75rem 0;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: $text-main;

  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: $accent-hover;
}

@include tablet {
  .nav {
    transform: none;
    transition: none;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  .nav a {
    padding: 0;
    font-size: 1rem;
  }
}

@include desktop {
  .nav ul {
    gap: 2rem;
    li a {
      font-size: 1.5rem;
    }
  }
}

@include wide {
  .nav ul {
    gap: 2.5rem;
  }
}
